@font-face {
  font-family: 'Pretendard GOV';
  src: url('../font/PretendardGOV-Medium.subset.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard GOV';
  src: url('../font/PretendardGOV-Regular.subset.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard GOV';
  src: url('../font/PretendardGOV-Bold.subset.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Pretendard GOV', sans-serif;
}
.previewLikeImage {
}
.conts-wrap {
  gap: 2rem;
}
.modalContents {
  display: none;
}

/* 카드 호버시 - 240422 김현아 추가 */
.main .search-list .li:hover {
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}
.main .search-list .li:hover::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #00000020;
  z-index: 30;
}
.main .search-list .li:hover::after {
  position: absolute;
  content: 'COPY';
  right: 20px;
  top: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: var(--krds-fz-label-sm);
  color: var(--krds-primary-60);
  height: 2.4rem;
  padding: 0 var(--krds-spacer-2);
  border-radius: 0.4rem;
  background-color: #fff;
  z-index: 50;
}
.main .search-list li .previewBox .krds-badge {
  position: relative;
  z-index: 50;
  width: 100%;
}

/* [TEST] 미리보기 / 코드복사 테스트 - 240424 박상희 */
.modal .modal-dialog .modal-conts.minusScale-element {
  transform: scale(0.5) /*translateY(-45%)*/;
  width: 200%;
  overflow-x: hidden;
}
